	<footer id="footer">
		<div class="inner">
			<a href="http://pico.dev7studios.com">Pico</a> was made by <a href="http://gilbert.pellegrom.me">Gilbert Pellegrom</a>
			from <a href="http://dev7studios.com">Dev7studios</a>.
		</div>
	</footer>

</body>
</html>
