{% include "head.twig" %}

    <section id="content">
        <div class="inner">
            {% if is_front_page %}
            <!-- front page -->
                {% for page in pages %}
                    {% if page.date %}
                        <article>
                            <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
                            <p class="meta">Tags:
                                {% for tag in page.tags %}
                                    <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
                                {% endfor %}
                            </p>
                            {{ page.excerpt }}
                        </article>
                    {% endif %}
                {% endfor %}
            <!-- front page -->
            {% elseif meta.tags %}
            <!-- blog post -->
                <article>
                    <h2>{{ meta.title }}</h2>
                    <p class="meta">Tags:
                        {% for tag in meta.tags %}
                            <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
                        {% endfor %}
                    </p>
                    {{ content }}
                </article>
            <!-- blog post -->

            {% elseif pages and meta.title != 'Error 404' %}
            <!-- tags page -->
                All tags:
                <ul class="tags">
                    {% for tag in tag_list %}
                    <li><a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a></li>
                    {% endfor %}
                </ul>
                <p>Posts tagged <a href="{{ page.url }}">#{{ current_tag }}</a>:</p>
                {% for page in pages %}
                    {% if page.date %}
                        <article>
                            <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
                            <p class="meta">Posted on {{ page.date_formatted }} by {{ page.author }}
                                <span class="tags"><br />Tags:
                                    {% for tag in page.tags %}
                                            <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
                                    {% endfor %}
                                </span>
                            </p>
                            {{ page.content }}
                        </article>
                    {% endif %}
                {% endfor %}
            <!-- tags page -->
            {% else %}
                <!-- single page -->
                <article>
                    <h2>{{ meta.title }}</h2>
                    {{ content }}
                </article>
                <!-- single page -->
            {% endif %}
		</div>
	</section>

{% include "foot.twig" %}
